USE [master]
GO
/****** Object:  Database [MVCDB]    Script Date: 21-Dec-19 12:03:38 AM ******/
CREATE DATABASE [MVCDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MVCDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MVCDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MVCDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MVCDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVCDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MVCDB]
GO
/****** Object:  Table [dbo].[TblStudent]    Script Date: 21-Dec-19 12:03:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblStudent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
